.inf1 {
    display: grid;
    justify-items: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

.inf2 {
    display: grid;
    justify-items: center;
    align-items: center;
}

@media (max-width: 800px) {
    .inf2 {
        display: none;
    }
}

.logo2 {
    height: 100px;
}

.inf3 {
    display: grid;
    justify-items: center;
    align-items: center;
}

@media (max-width: 800px) {
    .inf1, .inf3 {
        margin-bottom: 20px;
    }
}
