#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

@media (max-width: 800px) {
    #zatemnenie {
        min-width: 370px;
    }
}

#okno {
    width: 300px;
    height: 220px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #858585;
    display: block;
}

.gradient {
    width: 350px;
    height: 270px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

form:invalid .gradient{
    background: linear-gradient(90deg, rgba(255,168,168,1) 0%, rgba(255,120,120,1) 31%, rgba(255,46,46,1) 68%, rgba(255,0,0,1) 100%);
    animation: animatedg 2.5s ease infinite ;
    background-size: 400%;
}

form:valid .gradient{
    background: linear-gradient(90deg, rgba(195,255,191,1) 0%, rgba(149,255,143,1) 34%, rgba(60,255,48,1) 67%, rgba(14,255,0,1) 100%);
    animation: animatedg 2.5s ease infinite ;
    background-size: 400%;
}

@keyframes animatedg {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0;
    }
}

form:invalid .enter{
    opacity: 0.5;
    pointer-events: none;
}

#zatemnenie:target {
    display: block;
}
.close {
    height: 30px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 20%;
    margin: 10px;
    text-decoration: none;
    cursor:pointer;
}

.Regist {
    height: 30px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 20%;
    margin: 10px;
    text-decoration: none;
    cursor:pointer;
}

.Enter {
    height: 30px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 20%;
    margin: 10px;
    text-decoration: none;
    cursor:pointer;
}

input {
    margin-bottom: 10px;
}

#email:invalid, #password:invalid, #password1:invalid, #password2:invalid, #name:invalid, #years:invalid {
    background-color: #f86d6d;
}

#email:valid, #password:valid, #password1:valid, #password2:valid, #name:valid, #years:valid {
    background-color: #95ff95;
}

#zatemnenie2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

@media (max-width: 800px) {
    #zatemnenie2 {
        min-width: 370px;
    }
}

#okno2 {
    width: 300px;
    height: 360px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #858585;
}

.gradient2 {
    width: 350px;
    height: 410px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

form:invalid .gradient2{
    background: linear-gradient(90deg, rgba(255,168,168,1) 0%, rgba(255,120,120,1) 31%, rgba(255,46,46,1) 68%, rgba(255,0,0,1) 100%);
    animation: animatedg 2.5s ease infinite ;
    background-size: 400%;
}

form:valid .gradient2{
    background: linear-gradient(90deg, rgba(195,255,191,1) 0%, rgba(149,255,143,1) 34%, rgba(60,255,48,1) 67%, rgba(14,255,0,1) 100%);
    animation: animatedg 2.5s ease infinite ;
    background-size: 400%;
}

@keyframes animatedg {
    0%{
        background-position: 0;
    }
    50%{
        background-position: 100%;
    }
    100%{
        background-position: 0;
    }
}

form:invalid .regist{
    opacity: 0.5;
    pointer-events: none;
}

#zatemnenie2:target {
    display: block;
}

.gender_btns {
    margin-bottom: 10px;
    padding: 0 10px;
}
