body {
    background: url(./cloud-346706.png);
}

.papa {
    min-width: 1807px;
    display: grid;
    grid-template-columns: 290px 1fr 150px;
    grid-template-rows: 0px 0px -1px;
    justify-items: center;
    align-items: center;
}

.snup {
    grid-column: 4/4;
    grid-row: 4;
}

.dens {
    grid-column: 0/4;
    grid-row: 4;
}

.kon {
    grid-column: 2/4;
    grid-row: 4;
}

.gendalf {
    grid-column: 0/4;
    grid-row: 3;
}