body {
    background: url(./vintage-1659117.jpg);
    font-family: 'Acme', sans-serif;
}

.all {
    border: 3px solid #000;
    min-width: 1420px;
}

.header {
    height: 150px;
    display: flex;
    min-width: 1399px;
    border-bottom: 3px solid #000;
}

.header1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo1 {
    margin-left: 30px;
    height: 100px;
}

.header2 {
    width: 100%;
    min-width: 597px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    height: 45px;
    width: 140px;
    border-radius: 90%;
    font-size: 20px;
    border: 2px solid #000;
    outline: none;
    background: linear-gradient(90deg, rgba(219,191,156,1) 0%, rgba(218,186,148,1) 30%, rgba(210,159,97,1) 47%,
        rgba(204,155,95,1) 65%, rgba(194,148,92,1) 100%);
    transition: background 1.2s;
    font-family: 'Acme', sans-serif;
}

button:active {
    background: #d1d9fa;
    transition: background 0s;
  }

.header3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 260px;
    min-width: 260px;
}

.avka {
    margin-right: 10px;
    height: 100px;
    border: 3px solid #000;
    overflow: hidden;
    border-radius: 100%;
}

.links {
    display: flex;
    flex-direction: column;
}

a{
    color: #001b4c;;
    text-decoration: none;
}

.center {
    min-width: 1399px;
    display: flex;
    height: 80%;
}

.center1 {
    border-right: 3px solid #000;
    width: 260px;
    min-width: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content{
    font-size: 60px;
}

.content0 {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 60%;
    justify-content: space-evenly;
}

.content1 {
    font-size: 40px;
}

.content1:hover {
    border-bottom: 3px solid rgb(85, 25, 25);
}

.center2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    background-color: rgb(180, 233, 131);
    border: 3px solid #000;
    height: 80%;
    width: 80%;
    padding: 5px;
    overflow: auto;
}

.evolution {
    border: 3px solid #000;
    margin: 10px;
    float: left;
    height: 100px;
    width: 200px;
}

span {
    font-size: 50px;
}

.center3 {
    border-left: 3px solid #000;
    width: 260px;
    min-width: 260px;
}

.advertising {
    width: 260px;
    height: 300px;
}

.inf {
    border-top: 3px solid #000;
    min-width: 1399px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inf1 {
    margin-left: 20px;
}

ul {
    list-style-type: none;
}

.logo2 {
    height: 100px;
}

.inf3 {
    margin-right: 20px;
}

.login {
    width: 80px;
    height: 30px;
    border-radius: 20%;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    min-width: 1434px;
    min-height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno {
    width: 300px;
    height: 220px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(210 186 158);
}

#zatemnenie:target {
    display: block;
}
.close {
    height: 30px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 20%;
    margin: 10px;
    text-decoration: none;
    cursor:pointer;
}

input {
    background: rgb(231 210 186);
    margin-bottom: 10px;
}

.registration {
    width: 113px;
    height: 30px;
    border-radius: 20%;
    margin-top: 5px;
}

#zatemnenie2 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    min-width: 1434px;
    min-height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno2 {
    width: 300px;
    height: 360px;
    text-align: center;
    padding: 15px;
    border: 3px solid #000;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: rgb(210 186 158);
}

#zatemnenie2:target {
    display: block;
}

.gender_btns {
    margin-bottom: 10px;
    padding: 0 10px;
}
