.header1, .header2, .header3, .center1, .center2, .center3, .inf1, .inf2, .inf3 {
  display: grid;
  align-items: center;
  justify-items: center; }

.gradient, .gradient2, #okno, #okno2 {
  border: 3px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.logo1 {
  height: 100px;
  animation: spin 5s linear infinite; }
  .logo1:hover {
    animation-play-state: paused; }

@keyframes spin {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }
.header2 {
  grid-template-columns: repeat(5, auto); }

@media (max-width: 800px) {
  .header2 {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px; } }
button {
  height: 45px;
  width: 140px;
  border-radius: 90%;
  font-size: 20px;
  border: 2px solid #000;
  outline: none;
  background: #1f8dff;
  transition: background 1.2s;
  font-family: 'Acme', sans-serif; }
  button:active {
    background: #d1d9fa;
    transition: background 0s; }

.login {
  width: 80px;
  height: 30px;
  border-radius: 20%; }

.registration {
  width: 113px;
  height: 30px;
  border-radius: 20%;
  margin-top: 5px; }

.header1, .header2, .header3, .center1, .center2, .center3, .inf1, .inf2, .inf3 {
  display: grid;
  align-items: center;
  justify-items: center; }

.gradient, .gradient2, #okno, #okno2 {
  border: 3px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

#zatemnenie, #zatemnenie2 {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none; }

.gradient {
  width: 300px;
  height: 230px;
  margin: auto; }

.gradient2 {
  width: 300px;
  height: 350px;
  margin: auto; }

#okno, #okno2 {
  margin: 10px;
  text-align: center;
  padding: 15px;
  background: #858585; }
  #okno input, #okno2 input {
    margin-bottom: 10px; }

.close, .Regist, .Enter {
  height: 30px;
  width: 80px;
  border: 1px solid #000;
  border-radius: 20%;
  margin: 10px;
  text-decoration: none;
  cursor: pointer; }

form:invalid .gradient, form:invalid .gradient2 {
  background: linear-gradient(90deg, #ffa8a8 0%, #ff7878 31%, #ff2e2e 68%, red 100%);
  animation: animatedg 2.5s ease infinite;
  background-size: 400%; }

form:valid .gradient, form:valid .gradient2 {
  background: linear-gradient(90deg, #c3ffbf 0%, #95ff8f 34%, #3cff30 67%, #0eff00 100%);
  animation: animatedg 2.5s ease infinite;
  background-size: 400%; }

@keyframes animatedg {
  0% {
    background-position: 0; }
  50% {
    background-position: 100%; }
  100% {
    background-position: 0; } }
form:invalid .enter, form:invalid .regist {
  opacity: 0.5;
  pointer-events: none; }

#zatemnenie:target, #zatemnenie2:target {
  display: block; }

#email:invalid, #password:invalid, #password1:invalid, #password2:invalid, #name:invalid, #years:invalid {
  background-color: #f86d6d; }

#email:valid, #password:valid, #password1:valid, #password2:valid, #name:valid, #years:valid {
  background-color: #95ff95; }

.header1, .header2, .header3, .center1, .center2, .center3, .inf1, .inf2, .inf3 {
  display: grid;
  align-items: center;
  justify-items: center; }

.gradient, .gradient2, #okno, #okno2 {
  border: 3px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.center1, .center2, .center3 {
  grid-row: 2/8; }

.content {
  font-size: 60px; }

.content1 {
  font-size: 40px; }
  .content1:hover {
    border-bottom: 3px solid #551919; }

.text {
  background-color: #98acff;
  border: 3px solid #000;
  border-radius: 10px;
  height: 360px;
  width: 80%;
  padding: 5px;
  overflow: auto; }
  .text span {
    font-size: 50px; }
  .text img {
    border: 3px solid #000;
    margin: 10px;
    float: left;
    height: 100px;
    width: 200px; }
  .text::-webkit-scrollbar {
    width: 15px;
    background-color: #818181;
    border-radius: 10px; }
  .text::-webkit-scrollbar-thumb {
    background-color: #2e2a63;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px #805959; }

.advertising {
  width: 260px;
  height: 300px; }

.header1, .header2, .header3, .center1, .center2, .center3, .inf1, .inf2, .inf3 {
  display: grid;
  align-items: center;
  justify-items: center; }

.gradient, .gradient2, #okno, #okno2 {
  border: 3px solid #000;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.inf1, .inf2, .inf3 {
  margin-bottom: 20px; }
  .inf1 ul, .inf2 ul, .inf3 ul {
    list-style-type: none; }
  .inf1 img, .inf2 img, .inf3 img {
    height: 100px; }

@media (max-width: 800px) {
  .inf2 {
    display: none; } }
* {
  margin: 0; }

body {
  background: url(../IMG/soft_wallpaper.png);
  font-family: 'Acme', sans-serif; }

a {
  color: #001b4c;
  text-decoration: none; }

.all {
  display: grid;
  grid-template-columns: 340px auto 300px;
  grid-auto-rows: minmax(90px, auto);
  gap: 5px; }

@media (max-width: 800px) {
  .all {
    min-width: 370px;
    display: flex;
    flex-direction: column; } }

/*# sourceMappingURL=style.css.map */
